# Auto detect text files and perform LF normalization
* text=auto

# Mark Doxygen folder as documentation to exclude it from language stats
doxygen/** linguist-documentation

# Exclude Makefiles and Keil project files from language statistics
Makefile linguist-vendored
*.uvprojx linguist-vendored
*.uvoptx linguist-vendored
